.App {
  font-family: sans-serif;
  text-align: center;
  height: 800px;
}

.Concepts {
  border: 1px solid green;
  padding: 8px;
  /*
  display: flex;
  flex-flow: column nowrap;
  height: 600;
  */
}

.row {
  border: 1px solid blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.GridDecorator {
  border: 1px solid red;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  flex-grow: 1;
}

.grid-decorator .grid-decorator-title {
}

.grid-decorator .grid-decorator-pager {
}
